<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand" routerLink="/">
        <strong>{{administrador.nombre_administrador | uppercase}}</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/cupones">Cupones</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/recuperar">Recuperar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/premios">Premios</a>
            </li>
        </ul>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="cerrarSesion()">Cerrar Sesión</button>
</nav>