<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card cupones-crear" style="height: 400px;">
                <br><br><br><br><br><br>
                <div class="offset-2 col-8">
                    <button type="button" class="btn btn-create btn-outline-dark" (click)="openDialogCreate()">Crear Premio</button>
                </div>
            </div>
        </div>
        <div class="col-4" *ngFor="let premio of premios">
            <div class="card cupones" style="height: 400px;">
                <img src="{{premio.img_imagen}}" class="card-img-top">
                <div class="cupones-detail">
                    <h4 class="cupones-title">{{premio.nombre_premio}}</h4>
                    <p class="cupones-description text-justify">{{premio.descripcion_premio}}</p>
                    <hr>
                    <p><strong>Precio:</strong> {{premio.costo_premio}} puntos</p>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-primary" (click)="openDialogEdit(premio.id_premio)">
                                Editar
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-outline-danger" (click)="openDialogDelete(premio.id_premio)">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>