<div class="container"  style="width: 22rem;">
        <button type="button" class="btn btn-create btn-success" (click)="openDialogCreate()"> Crear </button>
</div>

<div class="card" style="width: 22rem;" class="cupones" *ngFor="let premio of premios">
    <img src="../../../assets/comida.png" class="card-img-top">
    <div class="cupones-detail">
        <h3 class="cupones-title">{{premio.nombre_premio}}</h3>
        <p class="cupones-description">{{premio.descripcion_premio}}</p>
        <hr>
        <div class="row text-center">
            <div class="col">
                <strong>Precio:</strong>
            </div>
            <div class="col">
                <p>{{premio.costo_premio}} puntos</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-outline-primary" data-toggle="popover" title="titulo"
                    data-content="contenido del del popover" (click)="openDialogEdit()">Editar</button>
            </div>
        </div>
    </div>
</div>