@fondo: #007bff;
@fondoDos: #2f90c8;
@fondoTres: #056fff;
@anchoBotones: 100%;


.cupones {
  display: inline-block;
  margin: 6px;
  width: @anchoBotones;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #0575E6;
  background: -webkit-linear-gradient(to top, #021B79, #0575E6);
  background: linear-gradient(to top, #021B79, #0575E6); 
}

.cupones-crear {
  display: inline-block;
  margin: 6px;
  width: @anchoBotones;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #0575E6;
  background: -webkit-linear-gradient(to top, rgba(2, 28, 121, 0.37), rgba(5, 118, 230, 0.15));
  background: linear-gradient(to top, rgba(2, 28, 121, 0.37), rgba(5, 118, 230, 0.15)); 
}

.cupones-detail {
  margin: 10px 20px;
  margin-top: -20px;
  background-color: white;
  border-radius: 3px;
  position: relative;
  padding: 10px;
  text-align: center;
  height: 60%
}

.cupones img{
  width: 137px;
  height: 137px;
  object-fit: cover;
}

  .cupones-description {
    text-align: left;
  }
  
  .cupones-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  .btn{
    width: @anchoBotones;
  }

  .enlace{
    border-radius: 100px;
  }

  .btn-create{
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
  }