<div class="card" style="width: 25rem;" class="cupones" *ngFor="let ejemplo of ejemplos">
    <img src="../../../assets/comida.png" class="card-img-top">
    <div class="cupones-detail">
        <h3 class="cupones-title">Nombre principal</h3>
        <p class="cupones-description">

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut exercitationem
            quo beatae vero modi, facilis aliquid corporis non similique perspiciatis minima maiores, debitis ab!
            Voluptate eaque aperiam nam et enim!</p>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary">Información</button>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-primary" data-toggle="popover" title="titulo"
                        data-content="contenido del del popover">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>