<app-navbar></app-navbar>
<br>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4" *ngFor="let premio of premios">
                <div class="card cupones" style="height: 310px;">
                    <img src="{{premio.img_imagen}}" class="card-img-top">
                    <div class="cupones-detail">
                        <h4 class="cupones-title">{{premio.nombre_premio}}</h4>
                        <p class="cupones-description">{{premio.descripcion_premio}}</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <button type="button" class="btn btn-outline-danger"
                                    data-toggle="popover" title="titulo"
                                    data-content="contenido del del popover" (click)="recuperarAlert(premio.id_premio)" >Recuperar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>