<h1 mat-dialog-title class="titulo">Crear nuevo premio</h1>
<div mat-dialog-content>
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="imagen-selector">Selecciona el tipo de comida:</label>
                        <select class="form-control" id="imagen-selector">
                            <option selected disabled>- Cada tipo de comida tiene una imagen -</option>
                            <option *ngFor="let imagen of imagenes" value="{{imagen.id_imagen}}">
                                {{imagen.nombre_imagen}}
                            </option>
                        </select>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="nombre-input">Nombre</label>
                        <input type="text" class="form-control" id="nombre-input">
                    </div>
                    <div class="form-group">
                        <label for="precio-input">Precio</label>
                        <input type="number" class="form-control" id="precio-input">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="descripcion-input">Descripción</label>
                        <textarea class="form-control" rows="5" id="descripcion-input"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <button class="btn btn-success" [mat-dialog-close]="false" (click)="agregarPremio()">Guardar</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-danger" (click)="onClickNo()">Cancelar</button>
          </div>
        </div>
      </div>
</div>